@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --clr-bg: #1c1c20;
  --clr-bg-light: #2f2f36;
  --clr-input: #9494a3;
  --clr-primary: rgb(43, 203, 94);
  --clr-warning: #cba02b;
  --clr-primary-light: rgb(52, 240, 112);
  --clr-error: #af5d68;
}

/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */

ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #faf9f6;
}

/* Remove list styles on ul, ol elements with a class attribute */

ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */

article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type="number"] {
  -moz-appearance: textfield;
}

/* Remove all animations and transitions for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------------------------------------------------- */

body {
  display: flex;
  background-color: var(--clr-bg);
  font-family: "Poppins", sans-serif;
  color: var(--clr-input);
  height: 100vh;
  width: 100vw;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  position: relative;
}

.container {
  width: 100%;
  max-width: 46rem;
  margin: 0 auto;
  padding: 0.5rem;
}

.content {
  flex: 1;
  overflow: auto;
  padding-top: 3rem;
}

h1 {
  font: inherit;
  font-size: 2rem;
  margin: 0;
}

.btn {
  padding: 0.2rem 1rem;
  font: inherit;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  user-select: none;
}

.btn-primary {
  background-color: var(--clr-primary);
  color: black;
}

.btn-primary:hover {
  background-color: var(--clr-primary-light);
}

.btn-secondary {
  background-color: var(--clr-input);
  color: black;
}

.btn-secondary:hover {
  background-color: var(--clr-bg);
  color: var(--clr-input);
}
